/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Hero Section */
.hero-section {
  text-align: center;
  background: url("/images/prop1.jpg") no-repeat center center / cover;
  padding: 50px 0;
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Property List */
.property-list {
  padding: 20px 30px;
}

.property-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* Property Card */
.property-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  background: #f9f9f9;
  color: black;
}

.property-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.property-card h4 {
  margin: 10px 0;
  color: black;
}

.view-property-button{
  margin-left: 15px;
  margin-top: 5px;
}

/* Media Queries */
@media (max-width: 768px) {
  .hero-section {
    padding: 30px 10px;
    font-size: 0.9rem;
  }

  .property-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .property-card {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .hero-section {
    padding: 20px 5px;
    font-size: 0.8rem;
  }

  .property-grid {
    grid-template-columns: 1fr;
  }

  .property-card {
    width: 100%;
  }
}
